.navbar {
    background-color: #fff;
    height: 5rem;
    padding: 0 2.5rem;
    box-shadow: 0 .2rem 1rem 0 rgba(0, 0, 0, .1);
    display: flex;

}

.navbar--icon {
    margin: auto;
    margin-left: 0;
    height: 2rem;
    width: 2rem;
}

.navbar--menu {
    display: flex;
    gap: 1rem;
}

.navbar--roundedButton {
    margin: auto 0;
}

.navbar--hamburger {
    cursor: pointer;
    font-size: 24px;
    display: none;
    margin: auto 0;
}

.navbar--accountContainer {
    display: flex;
    gap: 1rem;
}

@media (max-width: 600px) {
    .navbar--hamburger {
        display: inline;
    }

    .navbar--menu {
        display: none;
    }

    .navbar--showMenu {
        display: flex !important;
        flex-direction: column;
        align-items: flex-end;
        position: absolute;
        top: 60px;
        right: 20px;
        background-color: #f0f0f0;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

}